body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.card-body {
    padding: 20px;
}

.card-section-title {
    margin-bottom: 20px;
    font-size: 26px;
    padding-bottom: 15px;
}

.details {
    margin-bottom: 30px;
}

.details-label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.details-value {
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 6px;
    font-size: 18px;
}

.btn-custom {
    padding: 14px 28px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-btn {
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}